# This is a basic workflow to help you get started with Actions

name: deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
              REQUIREMENTS="${GITHUB_WORKSPACE}/requirements.txt"
              if [ -f "${REQUIREMENTS}" ]; then
                  pip install -r "${REQUIREMENTS}"
              fi
              export CONFIG_FILE="${GITHUB_WORKSPACE}/mkdocs.yml"
              REMOTE_REPO="https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
              git config --global user.name "${GITHUB_ACTOR}"
              git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
              git remote rm origin
              git remote add origin "${REMOTE_REPO}"
              ~/.local/bin/mkdocs gh-deploy --config-file "${CONFIG_FILE}" --force
